
// Rows
.row {
  position: relative;
  box-sizing: border-box;
  
  margin-left: -$col-margin-horizontal;
  margin-right: -$col-margin-horizontal;
  margin-bottom: $col-margin-vertical;
  
  &:before,
  &:after {
    display: table;
    content: " ";
  }
  
  &:after {
    clear: both;
  }
  
  // &.offset-bottom {
  //   margin-bottom: $col-margin-vertical;
  // }
}

// Cols 1-12
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
.col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  box-sizing: border-box;
  float: left;
  position: relative;
  min-height: 1px;
  padding: $col-margin-vertical $col-margin-horizontal;
}
.col-1  { width: $col-1-width;  }
.col-2  { width: $col-2-width;  }
.col-3  { width: $col-3-width;  }
.col-4  { width: $col-4-width;  }
.col-5  { width: $col-5-width;  }
.col-6  { width: $col-6-width;  }
.col-7  { width: $col-7-width;  }
.col-8  { width: $col-8-width;  }
.col-9  { width: $col-9-width;  }
.col-10 { width: $col-10-width; }
.col-11 { width: $col-11-width; }
.col-12 { width: $col-12-width; }

// Offset
.offset-1  { margin-right: $col-1-width;  }
.offset-2  { margin-right: $col-2-width;  }
.offset-3  { margin-right: $col-3-width;  }
.offset-4  { margin-right: $col-4-width;  }
.offset-5  { margin-right: $col-5-width;  }
.offset-6  { margin-right: $col-6-width;  }
.offset-7  { margin-right: $col-7-width;  }
.offset-8  { margin-right: $col-8-width;  }
.offset-9  { margin-right: $col-9-width;  }
.offset-10 { margin-right: $col-10-width; }
.offset-11 { margin-right: $col-11-width; }
.offset-12 { margin-right: $col-12-width; }

// Clear
.clear-lp {
  padding-left: 0;
}
.clear-rp {
  padding-right: 0;
}
.clear-lm {
  margin-left: 0;
}
.clear-rm {
  margin-right: 0;
}

@media (max-width: 570px) {
  .col-1, .col-2, .col-3, .col-4, .col-5, .col-6,
  .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
    float: none;
    width: 100%;
  }
}
